
main{
    display:grid;
    /* 3 grids*/ 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 25%;
    margin:20px;
    border: 2px solid red;

}

.row{
    border: 2px solid lightblue;
}
